<% include partials/header %>

<div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="email" name="username" placeholder="xxx@xxx">
        <input type="password" name="password" placeholder="******">
        <input type="submit" value="Login">
    </form>
</div>

<% include partials/footer %>
