<% include ../partials/header %>

<div class="container container-edit">
    <h1 class="h1-style">Create a New Feed</h1>
    <form class="table-head" action="/user/<%= currentUser._id %>/feed" method="POST">
        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Feed Content</label>
            <div class="col-sm-6">
                <textarea rows="10" cols="100" type="text" class="form-control" id="content" name="content" placeholder="Content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-jump">Submit</button>
        </div>
    </form>
    <a href="/user/<%= currentUser._id %>/feed">Go Back</a>

</div>


<% include ../partials/footer %>